@if (board()) {

  <div class="board-header">
    <h1>{{ board()!.name }}</h1>
    <span>Código: {{ board()!.joinCode }}</span>
  </div>
  <div class="add-column">
  <button (click)="toggleColumnForm()">+ Nueva columna</button>

  @if (showColumnForm) {
    <div>
      <input
        type="text"
        placeholder="Nombre columna..."
        [(ngModel)]="newColumnName"
      />
      <button (click)="createColumn()">Crear</button>
      <button (click)="toggleColumnForm()">Cancelar</button>
    </div>
  }
</div>

  <div class="columns-container">

    @for (column of board()?.columns; track column.id) {

  <app-column
  [column]="column"
  (taskCreated)="handleTaskCreated($event)"
  (taskUpdated)="handleTaskUpdated($event)"
  (taskDeleted)="handleTaskDeleted($event)"
  (columnDeleted)="handleColumnDelete($event)"
  (columnUpdated)="handleColumnUpdate($event)">
</app-column>


}


  </div>

} @else {

  <div class="loading">
    Cargando tablero...
  </div>

}
