@if (board()) {

  <div class="board-header">
    <h1>{{ board()!.name }}</h1>
    <span>Código: {{ board()!.joinCode }}</span>
  </div>
  <div class="add-column">
  <button (click)="toggleColumnForm()">+ Nueva columna</button>

  @if (showColumnForm) {
  <div class="modal-overlay" (click)="toggleColumnForm()">

    <div class="column-modal" (click)="$event.stopPropagation()">

      <h3>Nueva columna</h3>

      <input
        type="text"
        placeholder="Nombre de la columna..."
        [(ngModel)]="newColumnName"
        (keydown.enter)="createColumn()"
        autofocus
      />

      <div class="modal-actions">
        <button class="create-btn" (click)="createColumn()">
          Crear
        </button>

        <button class="cancel-btn" (click)="toggleColumnForm()">
          Cancelar
        </button>
      </div>
      @if (errorMessage) {
      <div class="modal-error">
        {{ errorMessage }}
      </div>
}
    </div>
  </div>
}
</div>

  <div class="columns-container">

    @for (column of board()?.columns; track column.id) {

  <app-column
    [column]="column"
    [connectedTo]="getConnectedColumns()"
    (taskCreated)="handleTaskCreated($event)"
    (taskUpdated)="handleTaskUpdated($event)"
    (taskDeleted)="handleTaskDeleted($event)"
    (columnDeleted)="handleColumnDelete($event)"
    (columnUpdated)="handleColumnUpdate($event)">
</app-column>


}


  </div>

} @else {

  <div class="loading">
    Cargando tablero...
  </div>

}
