<div class="column">

  <div class="column-header">

    @if (!editing) {
      <h3 class="column-title">
        {{ column.name }}
      </h3>
    }

    @if (editing) {
      <input
        type="text"
        [(ngModel)]="editName"
        class="column-edit-input"
      />
    }

    <div class="column-actions">

      @if (!editing) {
        <button (click)="startEdit()">✏</button>
      }

      @if (editing) {
        <button (click)="saveEdit()">✔</button>
        <button (click)="cancelEdit()">✖</button>
      }

      <button (click)="deleteColumn()">🗑</button>

    </div>

  </div>

  <div
  class="tasks"
  cdkDropList
  [id]="column.id.toString()"
  [cdkDropListData]="column.tasks"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="drop($event)"
>

  @for (task of column.tasks; track task.id) {
    <div cdkDrag [cdkDragData]="task">
      <app-task-card
        [task]="task"
        (click)="openEditModal(task)"
        (delete)="deleteTask(task.id)">
      </app-task-card>
    </div>
  }

  @if (column.tasks.length === 0) {
    <p class="empty-state">Sin tareas</p>
  }

</div>
  <button class="add-task-btn" (click)="openCreateModal()">
    + Nueva tarea
  </button>



@if (showModal) {
  <app-task-modal
    [task]="selectedTask"
    [mode]="modalMode"
    (close)="closeModal()"
    (save)="handleSave($event)">
  </app-task-modal>
}

@if (showConfirmModal) {
  <app-confirm-modal
    message="¿Eliminar columna?"
    (confirm)="confirmDeleteColumn()"
    (cancel)="cancelDelete()">
  </app-confirm-modal>
}
